* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#section-2 {
    background-color: rgb(204, 21, 37);
    height: 100vh;
    background-image: url("img/3.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    top: 300px;
    font-size: 100px;
    font-family: 'Special Elite', cursive;
    text-shadow: 5px 5px red;

}

h2:hover {
    color: #00ffff;
}


.matrix {
    position: relative;
    top: 50 %;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.text-type {
    animation: typewriter 5s steps(44) 1s 1 normal both,
        blinkTextCursor 300ms steps(44) 1s infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 15.9em;
    }
}

div {
    position: fixed;
    bottom: 5%;
    font-family: 'Gloria Hallelujah', cursive;
    left: 28%;
    text-align: center;
    font-size: 27px;
    color: antiquewhite;
    text-shadow: 3px 3px black;
}

footer {
    position: static;
    width: 100%;
    height: 30px;
    background-color: black;
    color: aliceblue;
    text-align: center;
}