* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}

ul {
    text-decoration: none;
}

nav.main-navigation {
    text-transform: uppercase;
    color: rgb(0, 0, 0)
}

nav.main-navigation ul {
    display: block
}

nav.main-navigation ul li {
    display: inline-block;


}

nav.main-navigation ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0)
}