* {
    margin: 0;
    padding: 0;

}

img {
    width: 400px;

}

body {
    background-image: url(/img/tast.jpg);
    background-size: cover;

}


h1 {
    color: rgb(248, 246, 246);
    padding: 30px;
}

footer {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #364a4b;
    bottom: 0;
    text-align: center;
}

footer p {
    padding: 5px;
}

.homebtn {
    position: fixed;
    right: 25px;
    top: 15px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

i {
    color: aqua;
    font-size: 60px;
    padding: 20px;
}

div.principal {
    top: 30px;
    position: relative;
    margin: auto;
    width: 85%;
    height: 550px;
    opacity: 0.8;
    background-color: rgb(14, 14, 14);



}

div.map {
    position: absolute;
    top: 50px;
    width: 25em;
    height: 10em;
    left: 40px;
    color: aliceblue;


}

div.phone {
    position: absolute;
    top: 250px;
    width: 25em;
    height: 10em;
    border: 1px solid #888;
    text-align: center;

}

div.form {
    position: absolute;
    width: 50em;
    height: 26em;
    left: 450px;

    bottom: 1px;
    background-color: #f2f2f2;
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
}

input[type=text],
select {
    width: 90%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 90%;
    height: 20px;
    border-radius: 4px;

}



/* -------------media------------*/

@media screen and (max-width: 700px) {

    i {
        font-size: 30px
    }

}







/* -------------media------------*/