* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#desktop-nav {
    display: none;

}
















body {
    font-size: 20px;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    color: antiquewhite;
}

#section1 {
    background-image: url(/img/tv4.jpg);
    margin-bottom: 10px;
    height: 30em;

}

}

.text {
    text-align: center;
    position: -ms-page;
}

nav {
    /* Safari */
    position: sticky;
}


#section2 {
    margin: 5em;
}

ul {
    list-style: none;

    background-color: rgb(210, 187, 231);
    overflow: hidden;
    top: 0;
    margin: 0;
    padding: 0;




}

ul li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: aliceblue;

}

li a:hover {
    background-color: black
}


.fixed-header {
    text-align: center;
}

footer p {
    font-size: 12px;
    line-height: 2;
    bottom: 0px;
}


/*---------Responsitive -------------*/

@media only screen and (min-width: 600px) {

    #mobile-nav {
        display: none;

    }

    #desktop-nav {
        display: block;
    }

}

/*---------Responsitive -------------*/