body{
    background-image: url(/img/bg.jpg);
}
#container {
    width: 800px;
    height: 500px;
    background: linear-gradient(violet, blue);
    margin: 35px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    position: relative;
    padding: 11px;


}

#score {
    width: 80px;
    height: 40px;
    background: yellowgreen;
    text-align: center;
    margin-left: 700px;
    margin-top: 8px;
    line-height: 35px;
    position: absolute;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px  5px rgba(3, 3, 3, 0.2);
}

#correctAnswer {
    width: 80px;
    height: 40px;
    background: rgb(4, 226, 22);
    text-align: center;
    margin-left: 330px;
    margin-top: 8px;
    line-height: 35px;
    position: absolute;
    color: aliceblue;
    display: none;


}

#wrongAnswer {
    width: 80px;
    height: 40px;
    background: rgb(231, 54, 10);
    text-align: center;
    margin-left: 330px;
    margin-top: 8px;
    line-height: 35px;
    position: absolute;
    color: aliceblue;
    display: none;
}

#question {
    width: 700px;
    height: 180px;
    background: blueviolet;
    margin: 60px auto 10px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    line-height: 170px;
}

#condition {
    width: 700px;
    height: 80px;
    background: lightskyblue;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    text-align: center;
    font-size: 2em;
    line-height: 75px;

}

#choices {
    width: 700px;
    height: 115px;
    margin: 5px auto;
    
}

.box {
    width: 100px;
    height: 100px;
    background: lightsteelblue;
    float: left;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 0px  5px rgba(3, 3, 3, 0.6);
    line-height: 103px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    

}

#box4 {
    margin-right: 0;
}

.box:hover, #startGame:hover {
    background-color: #8B4CF5;
    color: white;
    box-shadow: 0px 5px #3C206F;

}
.box:active, #startGame:active{
    box-shadow: 0px 0px #3C206F;
    top:5px;
}
#startGame{
    width: 85px;
    height: 20px;
    padding: 10px;
    margin: 0px auto;
    background: lightsteelblue;
    border-radius: 5px;
    box-shadow: 0px  5px rgba(3, 3, 3, 0.6);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

#timer{
    width: 170px;
    height: 20px;
    position: absolute;
    padding: 10px;
    background: limegreen;
    left: 600px;
    top: 471px;
    border-radius: 5px;
    font-weight: bold;
    /* visibility:hidden;  */
    display: none;
    box-shadow: 0px  5px rgba(3, 3, 3, 0.6);

}
#gameOver{
    height: 250px;
    width: 750px;
    background: linear-gradient(#f9ab36,#f76d36 );
    top: 110px;
    position: absolute;
    left: 33px;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    display: none;
}















