body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
footer {
    width: 100%;
    height: 3%;
    color: antiquewhite;
    bottom: 0;
    text-align: center;
    background-color: #000;
}
.foot  {
    width: 100%;
    height: 3%;
    color: antiquewhite;
    bottom: 0;
    text-align: center;
    background-color: #000;
    position: absolute;
}
/**--------NAVIGATIN BAR --------**/
.desk {
    width: 100%;
    background-color: rgb(49, 49, 49);
    overflow: auto;
    position: sticky;
    
  }
  .desk p {
      float: right;
      margin-right: 20%;
      color: antiquewhite;
      font-family: 'Homemade Apple', cursive;
font-size: 20px
  }
  .desk p:hover {
      color:rgb(152, 52, 192);
  }
  
  .desk a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .desk a:hover {
    background-color: rgba(0, 0, 0, 0.226);
    color: rgb(152, 52, 192);
  }
  
  .active {
    background-color: rgb(152, 52, 192);
  }


/**--------NAVIGATIN BAR --------**/




.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url('../img/architecture-bridge-building-220769.jpg');
    display: table;
    top: 0;
    background-size: cover;


}
.intro .inner {

    display: table-cell;
    vertical-align: middle;
    max-width: none;
    width: 100%;
}

.content {
    max-width: 700px;
    margin:0 auto ;
    text-align: center;
    
 
}
.content h1 {
    font-size: 300%;
    font-family: 'Special Elite', cursive;
}

.btn {
    border-radius: 9px;
    color: #3cb9cf;
    font-size: 135%;
    padding: 10px 20px;
    text-decoration: none;
    border: solid 3px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    color: antiquewhite;
    border: solid antiquewhite 3px;
}
.matrix {
    position: relative;
    top: 50%;
    width: 50%;
    margin:0 auto;
    right: 0;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
    font-family: 'Homemade Apple', cursive;
}

.text-type {
    animation: typewriter 3s steps(30) 1s 1 normal both,
        blinkTextCursor 600ms steps(50) 3s infinite normal;

}
@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

/** -------------progressbar----**/

.container {
    width: 70%;
    background-color: #ddd;
    margin: 0 auto;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #4CAF50;}
  .css {width: 90%; background-color: #2196F3;}
  .js {width: 70%; background-color: #f44336;}
  .php {width: 30%; background-color: #808080;}
  .photoshop {width: 99%; background-color: #ff0808;}
  .ilustrator {width: 77%; background-color: #086bff;}
  .max {width: 77%; background-color: #086bff;}
  .macromedia {width: 60%; background-color: #04f124;}

/** -------------progressbar----**/

.background {

padding: 30px;


}

/**-----------Form----------------**/
.contact-body {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 150, 0.5),rgba(0, 50, 0, 0.5)),url(../img/joker.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;


}

.contact-title {
    margin-top: 100px;
    color: #fff;
    transition: all 2s ease-in-out;
}

.contact-title h1 {
font-size: 42px;
line-height: 80px;
}

.contact-title h2{
    font-size: 30px;
}

form{
    margin-top: 50px;
    transition: :all 4s ease-in-out;
}

.form-control{
    width: 600px;
    background:transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input {
    height: 45px;

}

form .submit{
    background-color: rgb(152, 52, 192);
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
height: 50px;
margin-top: 20px;
}

form .submit:hover{
    background-color: #808080;
}














/**-----------Form----------------**/

















